
<h1><a href="/article/add">add article</a></h1>
<h1><a href="/articles">all articles</a></h1>

<h1>Article List</h1>
<ul>
    <% articles.forEach((article) => { %>
        <li>
            <img src="../uploads/<%= article.photo %>" width="100px" height="100px" alt="">
            <h2><%= article.title %></h2>
            <p><%= article.content %></p>
            <p><%= article.publishDate %></p>
            <p><%= article.updatedAt  %></p>
            <p><%= article.author.fullName %></p>

            <form method="POST" action="/article/<%= article.id %>?_method=DELETE" style="display: inline;">
                <button type="submit">Delete</button>
                <a href="/articles/<%= article.id %>">show</a>
                <a href="/article/edite/<%= article.id %>">edite</a>
            </form>

        </li>
        <hr />
    <% }) %>
</ul>
