<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article List</title>
</head>
<body>
    <h1><a href="/article/add">add article</a></h1>
    <h1>Article List</h1>
    <ul>
        <% articles.forEach((article) => { %>
            <li>
                <img src="../uploads/<%= article.photo %>" width="100px" height="100px" alt="">
                <h2><%= article.title %></h2>
                <p><%= article.content %></p>
                <p><%= article.publishDate %></p>
                <p><%= article.author.fullName %></p>

                <form method="POST" action="/article/<%= article.id %>?_method=DELETE" style="display: inline;">
                    <button type="submit">Delete</button>
                    <a href="/articles/<%= article.id %>">show</a>
                    <a href="/article/edite/<%= article.id %>">edite</a>
                </form>
                <div  class="comments-body">
                    <div>
                        <ul>
                            <% article.comments.forEach((comment) => { %>
                              <li>
                                <p id="comment-<%= comment.id %>"><%= comment.content %></p>
                                <form id="update-form-<%= comment.id %>" method="POST" action="/update-comment/<%= comment.id %>?_method=PUT" style="display: none;">
                                    <input type="text" name="content" value="<%= comment.content %>">
                                    <button type="submit">Save</button>
                                </form>

                                <!-- Display other comment properties as needed -->
                                <form
                                    method="POST"
                                    action="/delete-comment/<%= comment.id %>?_method=DELETE"
                                    onsubmit="console.log('Form submitted');"
                                >
                                    <button type="submit">Delete Comment</button>
                                </form>
                                <button onclick="displayFormUpdate('<%= comment.id %>')">edit</button>

                                
                              </li>
                              <form action="/create-comment" method="POST">
                                  <div>
                                  <label for="content">Content:</label>
                                  <textarea id="content" name="content" required></textarea>
                                  </div>
                                  <div>
                                  <input type="hidden" id="authorId" name="authorId" value="1" required>
                                  </div>
                                  <div>
                                  <input type="hidden" id="articleId" name="articleId" value="<%= article.id %>" required>
                                  </div>
                                  <button type="submit">Submit</button>
                              </form>
                            <% }) %>
                          </ul>
                    </div>
                </div>
            </li>
            <hr />
        <% }) %>
    </ul>

    <script>
        const displayFormUpdate = (commentId) => {
            const updateForm = document.getElementById(`update-form-${commentId}`);
            updateForm.style.display = "block";
            const commentContent = document.getElementById(`comment-${commentId}`);
            commentContent.style.display = "none";
        }
     </script>
</body>
</html>