<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(article){ %> 

<h1><%= article.title  %></h1>
<p>
    <%= article.content %>
</p>
<p>
    <%= article.publishDate %>
</p>
<p>
    <%= article.author.fullName %>
</p> 
<form method="POST" action="/article/<%= article.id %>?_method=DELETE" style="display: inline;">
    <button type="submit">Delete</button>
</form>

<% }else{ %>
    <h1>article not found</h1>
<% } %> 
</body>
</html>