
<% if(article){ %> 

<h1><%= article.title %></h1>
<img src="../uploads/<%= article.photo %>" width="100px" height="100px" alt="">
<p>
    <%= article.content %>
</p>
<p>
    <%= article.publishDate %>
</p>
<p>
    <%= article.author.fullName %>
</p> 

<% if(article.authorId == 1 ){ %>
    <form method="POST" action="/article/<%= article.id %>?_method=DELETE" style="display: inline;">
        <button type="submit">Delete</button>
        <a href="/article/edite/<%= article.id %>">edite</a>
    </form>
<% } %> 

<% }else{ %>
    <h1>article not found</h1>
<% } %> 
